/* Verses styles */
.verses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.verse {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-gray);
}

.verse-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.verse-text {
  font-size: 1rem;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  .verses {
    flex-direction: column;
  }

  .verse {
    width: 90%;
  }

  .verse-title {
    font-size: 1rem;
  }

  .verse-text {
    font-size: 0.8rem;
  }
}

/* Button styles */
.button {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.button-generate,
.button-message {
  margin: 0 0.5rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button-message {
  margin-right: 20px;
  background-color: var(--color-yellow);
  color: var(--color-black);
}



.button-message:hover {
  background-color: var(--color-orange);
}

/* Variables */
button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: #ffffff;
  background-color: #f44242;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  margin-right: 10px;
}

button:hover {
  background-color: #e79b4a;
  cursor: pointer;
}

body {
  background-image: linear-gradient(to bottom right,#f2f2f2, #ff4d4d );
  background-repeat: no-repeat;
  background-attachment: fixed;
}


