/* Default styling for verses container */
.verses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.verses-container div {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

.verses-container h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.verses-container p {
  font-size: 1rem;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  .verses-container {
    flex-direction: column;
  }

  .verses-container div {
    width: 90%;
  }

  .verses-container h4 {
    font-size: 1rem;
  }

  .verses-container p {
    font-size: 0.8rem;
  }
}

.container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.cool-button, .messageBtn {
  margin: 0 0.5rem;
}

